* {
    margin: 0px;
    padding: 0px;
    }

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.grid-container{
    position: relative;
    display: grid;
    /* grid-template-columns: 25vw 25vw 25vw 25vw; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100vh;
    width: 100%;
    text-align: center;
}

hr{
    width: 30%;
    /* margin: 20px 117px 20px 117px; */
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
}

.overlay-top{
    position: absolute;
    top: 50px;
    left: 38vw;
    width: 350px;
    color: #A1D6CE;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    font-size: 60px;
}

.overlay-top-sub{
    position: absolute;
    top: 125px;
    left: 39vw;
    color: #F0F0ED;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    font-size: 25px;
}

/* .title-name{
    margin: 0;
    color: white;
    padding: 5px;
    text-align: center;
    background-color: #28848B;
    font-size: 28px;
} */

ul {
    list-style-type: none;
    position: relative;
 }

li {
    margin: 0;
    color: white;
    padding-top: 250px;
    background-color: #21435A;
    /* background-color: #389085; */
    font-size: 45px;
    transition: .25s;
}

.grid-container >li > p {
    padding: 45px;
    font-size: 20px;
    font-style: italic;
}

.grid-container >li > a {
    border-bottom: 3px solid white;
}

li:hover{
    /* background-color: #A1D6CE; */
    background-color: #5CA4B9;
    /* background-color: #283F5C; */
    background-image: linear-gradient(90deg, #5CA4B9, #A1D6CE);
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #F0F0ED;
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    /* color: #5CA4B9; */
    color: #A1D6CE;
    background-color: transparent;
    text-decoration: none;
}
  
a:active {
    color: #F0F0ED;
    background-color: transparent;
    text-decoration: none;
}

@media (min-width: 720px) {
      
}  